{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registrar Aluno</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css\signin.css' %}">
</head>


<body class="text-center">

  <main class="form-signin">
    <!--<form method="post">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/logo1.png' %}" alt="" width="72" height="57">
      
      <h1 class="h3 mb-3 fw-normal">Cadastrar Aluno</h1>
      <label for="inputEmail" class="visually-hidden">Usuário</label>
      {{form_usuario.username}}

      {{form_login.password1.errors}}
      <label for="inputPassword" class="visually-hidden">Senha</label>
      {{form_usuario.password1}}

      {{form_login.password2.errors}}
      <label for="inputPassword" class="visually-hidden">Confirmar Senha</label>
      {{form_usuario.password2}}

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar Senha
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
    </form>-->
      <form method="post" class="text-center">
                        {% csrf_token %}
                        <img class="mb-4" src="{% static 'img/logo1.png' %}" alt="" width="150" height="150">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

	                    {{ form.first_name }}
	                    {{ form.last_name }}
	                    {{ form.username }}
						{{ form.password }}
	                    {{ form.password2 }}
                        {{ form.dtNascimento }}
                        {{ form.rg }}
                        {{ form.nomeMae }}
                        {{ form.nomePai }}
                        {{ form.nivelEnsino }}
                        {{ form.anoConclusao }}
                        {{ form.observacoes }}



	                    <div class="cor_Error">
                            {% if form.errors %}
		                    {{ form.non_field_errors }}
	                        {% endif %}
                        </div>

                        </br>
                        <button class="btn btn-lg button is-primary btn-block" type="submit">Sign in</button>
                        </a>
                        <p class="mt-5 mb-3 text-muted">&copy; Wesley Borges - 2018</p>
                    </form>
  </main>
</body>
<!--
<script>
  usuario = document.getElementById("id_username")
  usuario.setAttribute("class", "form-control")
  usuario.setAttribute("placeholder", "Login")

  senha1 = document.getElementById("id_password1")
  senha1.setAttribute("class", "form-control")
  senha1.setAttribute("placeholder", "Senha")

  senha2 = document.getElementById("id_password2")
  senha2.setAttribute("class", "form-control")
  senha2.setAttribute("placeholder", "Senha")
</script>
-->

<script src="{% static 'js\bootstrap.min.js' %}"></script>
<script src="{% static 'js\jquery-3.5.1.min.js' %}"></script>

</html>